(function() {
    var html ='<div class="col-xs-8 col-xs-offset-2"> <div class="panel panel-white post panel-shadow"> <div class="post-heading"> <div class="pull-left image"> <%= gravatar_for @comment.user, size: 50 %> </div><div class="pull-left meta"><div class="title h5"><b><%= link_to  "#{ @comment.user.username }", user_path(@comment.user) %></b> made a comment. <h6 class="text-muted time"> <%= time_ago_in_words(@comment.created_at) %> ago</h6></div></div></div> <div class="post-description"> <p><%= @comment.comment %></p></div></div></div>';
    $("#comments-list").append(html);
    $("#box-comments").val("");
}())
