<p>
  A new comment was posted for your <%= @article.title %>
</p>
<blockquote>
  <em><%= @comment.comment %></em>
</blockquote>
<p>
  to reply to this comment, please visit the 
  <%= link_to "Article page", @article %>.
</p>