<div class="row omb_row-sm-offset-5 omb_socialButtons">
    <div class="col-xs-4 col-sm-2 col-sm-offset-5">
        <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
            <i class="fa fa-facebook visible-xs"></i>
            <span class="hidden-xs">Facebook</span>
        </a>
    </div>

</div>