<% breadcrumb :about %>
<div class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="well">
                    <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>               
                    <p style="margin-top:6%;line-height:35%">157/6 Duong Ba Trac, Tp HCM</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail:</h3>
                    <p style="margin-top:6%;line-height:35%">1312098@student.hcmus.edu.vn</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Name:</h3>
                    <p style="margin-top:6%;line-height:35%">Phung Van Dung</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Facebook:</h3>
                    <p style="margin-top:6%;line-height:35%"><a href="https://www.facebook.com/phungvan.dung.1">https://www.facebook.com/phungvan.dung.1</a></p>
                </div>
            </div>
            <div class="col-xs-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8333232565205!2d106.68702431480054!3d10.74732599234131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f0814713561%3A0x1b06129791d78b09!2zMTU3LzYgRMawxqFuZyBCw6EgVHLhuqFjLCBwaMaw4budbmcgMSwgUXXhuq1uIDgsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sin!4v1507045769460" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
       <div class="row">
            <div class="col-xs-4">
                <div class="well">
                    <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>               
                    <p style="margin-top:6%;line-height:35%">625/29 Tran Xuan Soan, Tp HCM</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail:</h3>
                    <p style="margin-top:6%;line-height:35%">1312311@student.hcmus.edu.vn</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Name:</h3>
                    <p style="margin-top:6%;line-height:35%">Huynh Van Lam</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Facebook:</h3>
                    <p style="margin-top:6%;line-height:35%"><a href="https://www.facebook.com/tewtew13">https://www.facebook.com/tewtew13</a></p>
                </div>
            </div>
            <div class="col-xs-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.776977432636!2d106.70080895004598!3d10.751664262553442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f739d1e4717%3A0xd752164262de626a!2zNjI1IFRy4bqnbiBYdcOibiBTb-G6oW4sIFTDom4gSMawbmcsIFF14bqtbiA3LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sin!4v1507306332478" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>  
    </div>
</div>

       
