.left-menu {
    margin-top: 30px;
    @media (min-width: 992px) {
        .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        }
        .sidebar-nav .navbar ul {
        float: none;
        display: block;
        }
        .sidebar-nav .navbar li {
        float: none;
        display: block;
        }
        .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        }
    }
}

.breadcrumb {
    margin-top: 30px
}